<footer class="footer clearfix">
	<div class="wrapper">
		<div class="row clearfix">
			<div class="footer__column">
				<h3>Liens utils</h3>
				<ul>
					<li><a href="">Testimonial</a></li>
					<li><a href="">Help Center</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Jobs</a></li>
				</ul>
			</div>
			<div class="footer__column">
				<h3>Sell online</h3>
				<ul>
					<li><a href="">Testimonial</a></li>
					<li><a href="">Help Center</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Jobs</a></li>
				</ul>
			</div>
			<div class="footer__column">
				<h3>Suivez Nous</h3>
				<ul>
					<li><a href="">Youtube</a></li>
					<li><a href="">Facebook</a></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">Blog</a></li>
				</ul>
			</div>
			<div class="footer__column">
				<h3>From the blog</h3>
				<article>
					<h1><a href="">Booster l'employabilité</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempore provident rerum reiciendis pariatur, natus consequatur laudantium dolore unde, vitae harum facilis id sapiente! Nihil cum asperiores, ea ab repellendus.</p>
					<a href="" class="read_more">Read more</a>
				</article>
			</div>
		</div>
		<div class="footer__secondary clearfix">
			<ul>
				<li>Diama &copy; 2016</li>
				<li><a href="">English</a></li>
				<li><a href="">Espagnol</a></li>
				<li><a href="">Terms</a></li>
				<li><a href="">About us</a></li>
			</ul>
		</div>
	</div>
</footer>